
body {	
	 padding: 0; 
	 margin: 0;
	  } 	  
	  html, body, #map { 
	  	height: 100%; width: 100vw;
	  	 }
	  	 #map {
	  	 	position:absolute;
	  	 	top:0px;
	  	 	}
	  	 	#top {
	  	 		position:absolute;
	  	 	 top:0%;
	  	 	 right:0%;
	  	 	 z-index: 1000;
	  	 	 background-color: black;
	  	 		} 
	  	 		#img{
	  	 			height:140px;
	  	 			width:80px;
	  	 			} 
	  	 			#form, #help{
	  	 				position:absolute;
	  	 				top:7%;
	  	 				left:12%;
	  	 				z-index: 1800;
	  	 				width: 76%;
  margin: auto;
  margin-top: 10px;
	  	 				} 
	  	 				.inform{
	  	 						background-color : black;
	  	 						border-style: solid;
		border-color: black;
 border-width: 1px;
	  	 					} 
	  	 						.inupdate{
	  	 						color : plum;
	  	 						border-style: solid;
		border-color: black;
 border-width: 1px;
	  	 					} 
	  	 					.inhelp{
	  	 						color:black;
	  	 						background-color : white;
	  	 						border-style: solid;
		border-color: black;
 border-width: 2px;
	  	 						} 
	  	 	.gallery{
	  	 		z-index: 1100;
	  	 	position:absolute;
	  	 	top:88%; 
	  	 	}
	  	 span { display:table; margin:0 auto; }	 
	  	 
#special
{
	z-index:2344;
	} 
.thumbnail {
	float: left;
  height: 160px;
  width: 90px;
  border:2px;
  border-style: solid;
  border-color:black;
  
}
option, select{
	color:black;
	background-color : #99D2FF;
	border-style: solid;
		border-color: black;
 border-width: 2px;
	} 
	small{
	color: white;
	background-color : #444;
	} 
	.btn{
		color: white;
		background-color: #008CBA;
		font-size: 20px;
		border-style: solid;
		border-color: black;
 border-width: 2px;
 padding: 8px 18px;
		} 
			.bgpurple{
		background-color: purple;
		}
		#helpTitle{
			 font-size: 24px;
			 background-color : black ;
			 color: white;
			 border-style: solid;
 border-width: 2px;
 border-color:gray;
			} 
			#helpend{
				background-color:black;
				color:white;
				border-color:gray;
				border-style: solid;
 border-width: 2px;
				} 
			.green{
				background-color : lime ;
				} 
				.yellow{
				background-color : yellow ;
				}
				.red{
				background-color : #ff8c8c;
				} 
					#blue{
				background-color : #5ccbe1;
				} 
				 #txt{
    color: #5ccbe1;
    opacity: 1;
}

select option:nth-child(1) { background: yellow; }
 select option:nth-child(2) { background: red; }
  select option:nth-child(3) { background: green; }







